<!DOCTYPE html>
@*<html lang="en-ca" ng-app="PresentationBuilder"> *@
<html lang="en-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/homeCss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="body" class="container body-content" style="display: none;">
        <div class="row shadow">
            <div class="col-sm-6 col-md-6 col-lg-6 leftColumn">
                @RenderSection("leftPane")
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/jqueryval")

    <span id="AntiForgeryToken">@Html.AntiForgeryToken()</span>

    <script>
        baseUrl = "@Url.Content("~/")";
        csrfToken = $("#AntiForgeryToken [name=__RequestVerificationToken]").val();

        Navigation.div = $("#body");
        Navigation.baseUrl = baseUrl;
        Navigation.title = "Presentation Builder";

        $(function ()
        {
            $("#body").show();

            $("#body .row:first").css('margin-top', $("body").height() / 2 - $("#body .row:first").height() / 2);

            $("#body .row > .leftColumn, #body .row > .rightColumn").matchHeight();
        });

        adjustLayoutContent = function ()
        {
            $("#body .row:first").css('margin-top', $("body").height() / 2 - $("#body .row:first").height() / 2);

            $("#body .row > .leftColumn, #body .row > .rightColumn").matchHeight();
        }
    </script>
</body>
</html>