<!DOCTYPE html>
<html lang="en-ca" ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/homeCss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="body" class="container body-content">
        <div class="row shadow">
            <div class="col-md-6 leftColumn">
                @RenderSection("leftPane")
            </div>
            <div class="col-md-6 rightColumn">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <span id="AntiForgeryToken">@Html.AntiForgeryToken()</span>

    <script>
        baseUrl = "@Url.Content("~/")";
        csrfToken = $("#AntiForgeryToken [name=__RequestVerificationToken]").val();

        Navigation.div = $("#body");
        Navigation.baseUrl = baseUrl;
        Navigation.title = "Presentation Builder";

        $(function ()
        {
            $("#body .row > .leftColumn, #body .row > .rightColumn").matchHeight();

        });

        adjustLayoutContent = function ()
        {
            $("#body .row:first").css('margin-top', $("body").height() / 2 - $("#body .row:first").height());
        }
    </script>
</body>
</html>
