<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" onclick="Navigation.navigate('Home/Index', 'Home Page'); return false;">Application Name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="Navigation.navigate('Home/Index', 'Home Page'); return false;">Home</a></li>
                    <li><a href="#" onclick="Navigation.navigate('Home/About', 'About'); return false;">About</a></li>
                    <li><a href="#" onclick="Navigation.navigate('Home/Contact', 'Contact'); return false;">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="body" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")

    <span id="AntiForgeryToken">@Html.AntiForgeryToken()</span>

    <script>
        baseUrl = "@Url.Content("~/")";
        csrfToken = $("#AntiForgeryToken [name=__RequestVerificationToken]").val();

        Navigation.div = $("#body");
        Navigation.baseUrl = baseUrl;
        Navigation.title = "Application Name";
    </script>
</body>
</html>
