@model PresentationBuilder.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/Home.cshtml";
    ViewBag.Title = "Change Password";
}
@section leftPane
{
    <div class="row signUp">
        <div class="col-sm-12 col-md-12  col-lg-12">
            <a href="@Url.Action("About", "Home")"><img src="~/Images/aboutUs.png" class="about" /></a>
        </div>
        <div class="col-sm-12 col-md-12  col-lg-12 text-center">
            Change your password here
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="~/Images/presentationBuilder.png" />
        </div>
    </div>
}

<div class="row signButtons">
    <div class="col-sm-4 col-md-6 col-lg-8">
        @Html.ActionLink("Manage Account", "Index", "Manage", null, new { @class = "btn btn-sign" })
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4">
        @Html.ActionLink("My Presentations", "Index", "Presentations", null, new { @class = "btn btn-sign" })
    </div>
</div>
<br />

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />

    <div class="row" style="line-height: 35px;">
        <div class="col-md-5 text-right">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="row" style="line-height: 35px;">
        <div class="col-md-5 text-right">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="row" style="line-height: 35px;">
        <div class="col-md-5 text-right">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="col-md-3" style="left: 15px;">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>

}