@model PresentationBuilder.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/Home.cshtml";
    ViewBag.Title = "Manage";
}

@section leftPane
{
    <div class="row signUp">
        <div class="col-sm-12 col-md-12  col-lg-12">
            <a href="@Url.Action("About", "Home")"><img src="~/Images/aboutUs.png" class="about" /></a>
        </div>
        <div class="col-sm-12 col-md-12  col-lg-12 text-center">
            Manage your account, all you need is here.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="~/Images/presentationBuilder.png" />
        </div>
    </div>
}

@Html.Partial("_LoginPartial")

<div class="row" style="background-color: yellow">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword) {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</div>