@model PresentationBuilder.Models.Presentation

@{
    Layout = (Request.QueryString.Get("ajax") == null ? "~/Views/Shared/Layout.cshtml" : "~/Views/Shared/LayoutAjax.cshtml");

    ViewBag.Title = "Presentation";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div></div>


@using (Html.BeginForm("AddPresentation", "Presentation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">

        <div class="col-md-12">
            <h2>Presentation Name</h2>
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            <h2>Presentation Description</h2>
        </div>
        <div class="col-md-12">
            @Html.TextArea("editor", new { @class = "ckeditor", @id = "sampleEditor" })
        </div>
    </div>

}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div class="row">

    @foreach (var presentation in @Model.PresentationPages)
    {
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img src="~/image.ashx?Id=@presentation.PresentationPageId" alt="@presentation.ImagePath" />

            </a>
            <div class="row">
                <div class="col-md-4">
                    <a>@Html.ActionLink("Log in", "Add Audio", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                </div>
                <div class="col-md-4">
                    <a>@Html.ActionLink("Log in", "Add Audio", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                </div>
                <div class="col-md-4">
                    <a>@Html.ActionLink("Log in", "Add Audio", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <div class="jumbotron">
            <form action="~/Presentations/SaveUploadedFileImage" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="dz-message" data-dz-message>
                    <span>Upload a new image</span>
                </div>
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>