@using PresentationBuilder.Models
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/Home.cshtml";

    ViewBag.Title = "Presentation Builder";
}

@section leftPane
{
    <div class="row signUp">
        <div class="col-sm-1 col-md-12  col-lg-12">
            <a href="@Url.Action("About", "Home")"><img src="~/Images/aboutUs.png" class="about" /></a>
        </div>
        <div class="col-sm-7 col-md-12  col-lg-12 text-center">
            Create your account, it's quick and easy.
        </div>
        <div class="col-sm-2 col-md-12 col-lg-12 text-center">
            <img src="~/Images/presentationBuilder.png" />
        </div>
        <div class="col-sm-2 col-md-12 col-lg-12 text-center">
            <span class="navigationOn"></span>
            <span class="navigationOff"></span>
            <span class="navigationOn"></span>
        </div>
    </div>
}

<div class="row signButtons">
    <div class="col-sm-6 col-md-6 col-lg-8"></div>
    <div class="col-sm-6 col-md-6 col-lg-4">        
        @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "btn btn-sign" })
        <input type="button" class="btn btn-sign selected" onclick="return false;" value="Sign Up" />   
    </div>
</div>
<div class="row txt">
    <div class="col-xs-12">        
        @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "txt-Sign" })
        or
        <a href="#" class="txt-Sign selected" onclick="return false;">Sign Up</a>
    </div>
</div>
<br />

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="login">
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Your e-mail goes here", @maxlength = "256" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Your password goes here" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Your password goes here" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type="text", @placeholder = "Enter your first name", @maxlength="50" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text", @placeholder = "Enter your last name", @maxlength = "50" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-block btn-signIn">Sign in</button>
            </div>
        </div>
    </div>
}